@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: #66F;
}
body {
  margin: 0.4rem auto;
  max-width: 1296px;
  background-color:#ffffff;
  padding: 14px;
}
li {
  list-style-type: none;
  color: black;
}